@import "../../../data/styles.css";

.homepage-education {
	width: 90%;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 1;
}

.homepage-education:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}


.homepage-education-date:hover {
	opacity: 1;
    font-weight: 400;
}

.homepage-education-date {
	opacity: 0.7;
    text-align: left;
	color: #606060;
	font-size: 12px;
    padding-bottom: 1em;
    font-weight: 400;
}

.homepage-education-date_1:hover {
	opacity: 1;
    font-weight: 400;
}


.homepage-education-date_1 {
	opacity: 0.7;
    text-align: left;
	color: #606060;
	font-size: 12px;
    padding-bottom: 0.5em;
    font-weight: 400;
}

.homepage-education-title {
	opacity: 1;
	color: #404040;
	font-size: 18px;
	margin-bottom: 0.5em;
	font-weight: 700;
}


.homepage-education-course {
	opacity: 1;
	color: #404040;
	font-size: 16px;
	font-weight: 700;
}


.homepage-education-institute {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 13px;
    font-weight: 500;
	line-height: 1.5;
    padding-bottom: 1em;
}

.homepage-education-gpa {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
    font-weight: 500;
	line-height: 1.5;
    padding-bottom: 1em;
}

.homepage-education-all-courses {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
    font-weight: 500;
	line-height: 1.5;
    padding-bottom: 2em;
}

.homepage-education-description {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 13px;
	line-height: 1.5;
    padding-bottom: 1em;
}

.homepage-education-link {
	opacity: 1;
	font-size: 15px;
	font-weight: 700;
    font-size: 11px;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.homepage-education-course {
	padding-bottom: 2em;
}

.homepage-education-course {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
    font-weight: 500;
	line-height: 1.5;
}

.homepage-education-course-name {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
    font-weight: 500;
	line-height: 1.5;
    padding-bottom: 0.5em;
}

.homepage-education-course-institute {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 12px;
    font-weight: 500;
	line-height: 1.5;
    padding-bottom: 0.5em;
}

.homepage-education-link-icon {
	padding-right: 10px;
	font-size: 11px;
    text-decoration: none;
}

.certificate-text {
    color: var(--link-color);
    text-decoration: none;
}

@media (max-width: 600px) {
	.homepage-education {
		width: 100%;
	}
}
