@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	/* transform: rotate(3deg); */
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.homepage-works-logo {
	width: 25px;
	padding-left: 0.5em;
}


.homepage-works-logo img {
	width: 100%;
}
.homepage-social-icon {
	padding-right: 10px;
	padding-left: 5px;
	font-size: 22px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon-img {
    width: 25px; 
    height: 25px;
	margin-right: 0.7em;
    /* transform: translateX(-0.1em); */
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
	justify-content: space-between; 
}


.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-education {
	flex-basis: 900px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 900px;
}

.education-header{
    color: #003366;
    font-size: 20px; /* Change the font size as per your design */
    margin-bottom: 20px; /* Change the margin as per your design */
    text-align: left; /* Change the alignment as per your design */
	font-family: var(--primary-font);
}

.work-header{
    color: #003366;
    font-size: 20px; /* Change the font size as per your design */
    margin-bottom: 20px; /* Change the margin as per your design */
    text-align: left; /* Change the alignment as per your design */
	font-family: var(--primary-font);
	display: flex;
	align-items: center;
}

.resume-download {
    text-align: left; /* Centers the text and buttons */
    margin-top: 20px; /* Adds some space above the section */
    font-family: var(--primary-font);
	font-size: 12px;
}
.resume-download p {
    font-size: 1.2em; /* Makes the text slightly larger */
    margin-bottom: 12px; /* Adds space between the text and the buttons */
}
.download-button, .view-resume {
    background-color: #004aad; /* A nice blue */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 3px; /* Rounded corners */
    font-size: 1em;
	line-height: 1.5em;
    cursor: pointer; /* Changes cursor to pointer on hover */
}
.download-button:hover, .view-resume:hover {
    background-color: #003366; /* Darker blue on hover */
}
.view-resume {
    display: inline-block; /* Aligns buttons next to each other */
}


@media (max-width: 1024px) {

	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-education {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
	}
}
